@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap'); 

*{
  font-family: "Archivo", sans-serif;
}

header{
    position: sticky;
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    align-items:center;
    z-index: 1000;
    margin-bottom: 90px;
    
}

.logo{
    height: 100px;
}

#favoritos, #adicionar{
  margin-right: 20px;
}

.offcanvas-body{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    gap: 30px;
}

.offcanvas-body a{
    text-decoration: none;
    color: black;
}

.search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-right: 90px;
    
  }
  
  .search-header__input {
    font-family: inherit;
    font-size: 16px;
    border: solid 0.5px #525252;
    padding: 0.7rem 1rem;
    border-radius: 25px;
    width: 240px;
    height: 48px;
    transition: all ease-in-out 0.5s;
    margin-right: -2rem;
    opacity: 1;
  }
  
  .search-header__input:hover,
  .search-header__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search-header__input:focus {
    outline: none;
  }
  
  .search-header__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #3a3a3a;
  }
  
  .search-header__input:focus + .search-header__button {
    background-color: transparent;
  }
  
  .search-header__button {
    border: none;
    background-color: transparent;
    margin-top: 0.1em;
  }
  
  .search-header__button:hover {
    cursor: pointer;
  }
  
  .search-header__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #3a3a3a;
  }
  
.footer-container{
    height: 200px;
    background-color: #f1eded;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.logo-footer{
    height: 150px;
}

#instagram, #youtube, #facebook{
    padding: 20px;
    font-size: 3rem;
    color: black;
}